<p id="notice"><%= notice %></p>


<h2 class="ui center aligned icon header">
  <i class="user circle icon"></i>
  <%= @dependent.name %>
</h2>
<div class="ui grid">
  <div class="four wide column"></div>
    <div class="eight wide column">
      <p>
        <strong>Primary:</strong>
        <%= @dependent.patient.name %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @dependent.dependency_type %>
      </p>

      <p>
        <strong>Cell phone:</strong>
        <%= @dependent.cell_phone %>
      </p>

      <p>
        <strong>Employer:</strong>
        <%= @dependent.employer %>
      </p>
  </div>
</div>
<div align=center>
 <%= link_to 'Edit', edit_dependent_path(@dependent) %> |
 <%= link_to 'Back', dependents_path %>
</div>