
<%= simple_form_for(@insurance_coverage) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="ui grid">
  <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="form-inputs">
        <%= f.input :employer %>
        <%= f.input :insurance_company %>
        <%= f.input :policy_number %>
        <%= f.input :coverage_percentage %>
        <%= f.input :coverage_type, collection: [ "Orthotics", "Compression Stockings", "Braces"]%>
        <%= f.input :product_quantity %>
        <%= f.input :maximum_amount %>
        <%= f.input :coverage_frequency %>
        <%= f.input :coverage_period %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>