<p id="notice"><%= notice %></p>

<h2 class="ui center aligned icon header">
  <i class="file alternate icon"></i>
  Insurance Converages
</h2>
<%= link_to 'New Insurance Coverage', new_insurance_coverage_path %>
<table class="ui sortable celled table">
  <thead>
    <tr>
      <th>Employer</th>
      <th>Insurance company</th>
      <th>Policy number</th>
      <th>Coverage percentage</th>
      <th>Coverage type</th>
      <th>Product quantity</th>
      <th>Maximum amount</th>
      <th>Coverage frequency</th>
      <th>Coverage period (in year)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurance_coverages.each do |insurance_coverage| %>
      <tr>
        <td><%= insurance_coverage.employer %></td>
        <td><%= insurance_coverage.insurance_company %></td>
        <td><%= insurance_coverage.policy_number %></td>
        <td><%= insurance_coverage.coverage_percentage %></td>
        <td><%= insurance_coverage.coverage_type %></td>
        <td><%= insurance_coverage.product_quantity %></td>
        <td><%= insurance_coverage.maximum_amount %></td>
        <td><%= insurance_coverage.coverage_frequency %></td>
        <td><%= insurance_coverage.coverage_period %></td>
        <td class="positive"><%= link_to semantic_icon('file') + 'Summary', insurance_coverage %></td>
        <td class="warning"><%= link_to semantic_icon('edit') + 'Edit', edit_insurance_coverage_path(insurance_coverage) %></td>
        <td class="negative"><%= link_to semantic_icon('trash') + 'Delete', insurance_coverage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


