<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table class="ui sortable celled table">
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Name</th>
      <th>Home phone</th>
      <th>Cell phone</th>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Postal code</th>
      <th>Employer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.clinic %></td>
        <td><%= patient.name %></td>
        <td><%= patient.home_phone %></td>
        <td><%= patient.cell_phone %></td>
        <td><%= patient.address %></td>
        <td><%= patient.city %></td>
        <td><%= patient.province %></td>
        <td><%= patient.postal_code %></td>
        <td><%= patient.employer %></td>
        <td class="positive"><%= link_to semantic_icon('file') + 'Show', patient %></td>
        <td class="warning"><%= link_to semantic_icon('edit') + 'Edit', edit_patient_path(patient) %></td>
        <td class="negative"><%= link_to semantic_icon('trash') + 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
