<p id="notice"><%= notice %></p>

<h2 class="ui center aligned icon header">
  <i class="user circle icon"></i>
  <%= @patient.name %>
</h2>

<div class="ui grid">
  <div class="four wide column"></div>
    <div class="eight wide column">
      <p>
        <strong>Clinic:</strong>
        <%= @patient.clinic %>
      </p>

      <p>
        <strong>Home phone:</strong>
        <%= @patient.home_phone %>
      </p>

      <p>
        <strong>Cell phone:</strong>
        <%= @patient.cell_phone %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @patient.address %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @patient.city %>
      </p>

      <p>
        <strong>Province:</strong>
        <%= @patient.province %>
      </p>

      <p>
        <strong>Postal code:</strong>
        <%= @patient.postal_code %>
      </p>

      <p>
        <strong>Employer:</strong>
        <%= @patient.employer %>
      </p>

      <h3 class="ui block header">
        List of Dependents
      </h3>

      <div class="ui segment">
        <% @patient.dependents.each do |dependent| %>
          <h4 class="ui left floated header"><%= dependent.name %></h4>
          <div class="ui clearing divider"></div>
          
          <p>
            <strong>Type:</strong>
            <%= dependent.dependency_type %>
          </p>

          <p>
            <strong>Cell phone:</strong>
            <%= dependent.cell_phone %>
          </p>

          <p>
            <strong>Employer:</strong>
            <%= dependent.employer %>
          </p>

        <% end %>
      </div>



  </div>
</div>
<div align="center">
  <%= link_to 'Edit', edit_patient_path(@patient) %> |
  <%= link_to 'Back', patients_path %>
</div>
